<h1>Enter the Student Information</h1>
<%= form_for @student do |f| -%>
    <label>Firstname</label>
    <%= f.text_field :name %>
    <label>Lastname</label>
    <%= f.text_field :lastname %>
    <label>documento</label>
    <%= f.text_field :ndoc %>
    <%= f.submit value: "Crear estudiante", class:"boton"  %>
<% end -%>
<br />

<h1>display all student information </h1>
<ul> 
<% if !@students.blank? %>
    <% for item in @students %>
       <li><%= item.name %> - <%= item.lastname %>-<%= item.ndoc %>-<%= link_to "Editar", edit_student_path(@student)%></li> <br />
    <% end %>
<% else %>
<% end %>
</ul>